{% extends "base.html" %} {% block title %}Books{% endblock %} {% block content%}
<br/>
<h2>Book Details</h2>
<br/>

<form action="" method="POST">
    <div class="form-group row">
        <label for="book_id">Book ID</label>
        <input type="number" class="form-control" name="book_id" id="book_id"  placeholder="Enter Book Id" value="{{book.book_id}}" required>
    </div>
    <div class="form-group row">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title" value="{{book.title}}" required>
    </div>
    <div class="form-group row">
        <label for="price">Price</label>
        <input type="text" class="form-control" name="price" id="price" placeholder="Enter Price"value="{{book.price}}">
    </div>
    <div class="form-group row">
        <label for="publisher_name">Publisher Name</label>
        <input type="text" class="form-control" name="publisher_name" id="publisher_name"placeholder="Enter Publisher Name"value="{{book.publisher_name}}">
    </div>
    <div class="form-group row">
        <label for="publication_date">Publication_Date</label>
        <input type="date" class="form-control" name="publication_date" id="publication_date"placeholder="Enter Publication_Date"value="{{book.publication_date}}">
    </div>
    <div class="form-group row">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" name="quantity" id="quantity" placeholder="Enter Quantity"value="{{book.quantity}}" required>
    </div>
    <button type="btnAdd" class="btn btn-primary">Submit</button>
    <a href="/book" class="btn btn-primary">Cancel</a>
</form>
{% endblock %}