{% extends "base.html" %} {% block title %}Genres{% endblock %} {% block content%}
<br/>
<h2>Add/Delete Books by Genre</h2>
<br/>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Genre Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{genre.genre_id}}</td>
            <td>{{genre.genre_name}}</td>
        </tr>
        <tr>
            <subtable class="subtable">
                <thead>
                    <tr>
                        <th scope="col">Book ID</th>
                        <th scope="col">Book Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Publisher Name</th>
                        <th scope="col">Publication Date</th>
                        <th scope="col">Quantity</th>
                    </tr>  
                </thead>
                <tbody>
                    {% for book_genre in book_genreData %}
                    <tr>
                        <td>{{ book_genre.book_id }}</td>
                        <td>{{ book_genre.title }}</td>
                        <td>{{ book_genre.price }}</td>
                        <td>{{ book_genre.publisher_name }}</td>
                        <td>{{ book_genre.publication_date }}</td>
                        <td>{{ book_genre.quantity }}</td>
                        <td><a href='/deletebookgenre/{{genre.genre_id}}/{{book_genre.book_id}}'>Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </subtable>
        </tr>
    </tbody>
</table>
<form action="" method="POST">
    <div class="form-group row">
        <label for="book_id">Book ID</label>
        <input type="text" class="form-control" name="book_id" id="book_id" placeholder="Enter Book ID" required>
    </div>
    <button type="btnAdd" class="btn btn-primary">Submit</button>
    <a href="/genre" class="btn btn-primary">Cancel</a>
</form>

{% endblock %}