{% extends "base.html" %} {% block title %}Authors{% endblock %} {% block content%}
<br/>
<h2> Authors List </h2>
<br/>
<!-- (A) SEARCH FORM -->
<form method="post">
    <input type="text" name="author_name" placeholder = "Enter Author"required>
    <input type="submit" value="Search">
</form>
<br/>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Author Name</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authorsData %}
        <tr>
            <td>{{ author.author_id }}</td>
            <td><a href="bookauthor/{{author.author_id}}"> {{author.author_name}} </a> </td>
            <td><a href="addbookauthor/{{author.author_id}}"> Add/Delete books </a></td>
            <td><a href="deleteauthor/{{author.author_id}}"> Delete </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="addauthor">Add New Authors</a>
{% endblock %}