{% extends "base.html" %} {% block title %}Customers{% endblock %} {% block content%}
<br/>
<h2>Customer List</h2>
<br/>
<form method="POST">
	<input type="hidden" name="next" value="/">
	<fieldset>

		<div class="control-group">
			<!-- <label class="control-label">Search by</label> -->
			<div class="controls">
				<select  name="search">
					<option value="phone_number">Phone Number</option>
					<option value="email">Email</option>
					
				  </select>
			</div>
		</div>
		<br/>
		<div class="control-group">
			<!-- <label class="control-label">Query</label> -->
			<div class="controls">
				<input type="text" placeholder="Enter data" class="input-xlarge" name="query" required>
				<input type="submit" value="Search">
			</div>
		</div>
	</fieldset>
	<br/>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Customer Id</th>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
			<th scope="col">Email</th>
			<th scope="col">Phone Number</th>
            <th scope="col">Address</th>
			<th scope="col">Staff Id</th>
		</tr>
	</thead>
	<tbody>
		{% for customer in customersData %}
		<tr>
			<td>{{ customer.customer_id }}</td>
			<td>{{ customer.first_name }}</td>
			<td>{{ customer.last_name }}</td>
            {% if customer.gender == 0 %}
            <td>FEMALE</td>
            {% else %}
            <td>MALE</td>
            {% endif %}
			<td>{{ customer.dob }}</td>
			<td>{{ customer.email }}</td>
			<td>{{ customer.phone_number }}</td>
            <td>{{ customer.address }}</td>
			<td>{{ customer.staff_id}}</td>
			<td><a href='updatecustomer/{{ customer.customer_id }}'>Edit</a></td>
            <td><a href='deletecustomer/{{ customer.customer_id }}'>Delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<a class="btn btn-primary" href="addcustomer">Add New Customer</a>
{% endblock %}