{% extends "base.html" %} {% block title %}Orders{% endblock %} {% block content%}
<br/>
<h2>Orders List</h2>
<br/>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Order Id</th>
			<th scope="col">Customer ID</th>
			<th scope="col">Status</th>
            <th scope="col">Order Date</th>
			<th scope="col">Amount</th>
			<th scope="col">Staff ID</th>
		</tr>
	</thead>
	<tbody>
		{% for order in ordersData %}
		<tr>
			<td>{{ order.order_id }}</td>
			<td>{{ order.customer_id }}</td>
            {% if order.status == 0 %}
            <td>PENDING</td>
            {% endif %}
            {% if order.status == 1 %}
            <td>APPROVED</td>
            {% endif %}
			<td>{{ order.order_date }}</td>
			<td>{{ order.amount }}</td>
			<td>{{ order.staff_id }}</td>
            <td><a href="orderline/{{ order.order_id }}"> Details </a></td>
			<td><a href='approveorder/{{ order.order_id }}'>Approve</a></td>
            <td><a href='deleteorder/{{ order.order_id }}'>Delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<a class="btn btn-primary" href="addorder">Add New Order</a>
{% endblock %}